/NugetLockCheck/.vs/*
bin/
obj/
/NugetLockCheck/TestComponentApi/Honeywell.Testing.Package.0.1.0-alpha0000.nupkg
/NugetLockCheck/TestComponentApi/Honeywell.Testing.Package.0.1.0-alpha0001.nupkg
/NugetLockCheck/TestComponentApi/Honeywell.Testing.Package.0.1.0-alpha0002.nupkg
/NugetLockCheck/TestComponentApi/NuGet.exe
/NugetLockCheck/TestComponentApi/tools/GitVersion.exe
/NugetLockCheck/TestComponentApi/tools/GitVersion.pdb
/NugetLockCheck/TestComponentApi/tools/GitVersion.xml
/NugetLockCheck/TestComponentApi/tools/lib/linux/x86_64/libgit2-15e1193.so
/NugetLockCheck/TestComponentApi/tools/lib/osx/libgit2-15e1193.dylib
/NugetLockCheck/TestComponentApi/tools/lib/win32/x64/git2-15e1193.dll
/NugetLockCheck/TestComponentApi/tools/lib/win32/x64/git2-15e1193.pdb
/NugetLockCheck/TestComponentApi/tools/lib/win32/x86/git2-15e1193.dll
/NugetLockCheck/TestComponentApi/tools/lib/win32/x86/git2-15e1193.pdb
/NugetLockCheck/TestComponentApi/tools/LibGit2Sharp.dll
/NugetLockCheck/TestComponentApi/tools/LibGit2Sharp.dll.config
